@model BlackWhale.Web.ViewModels.Comment.CommentIndexViewModel
<li id="comment-@Model.Id">
    <div class="commenterImage">
        <img src="~/Content/Images/default-avatart.jpg" />
        <span class="sub-text-author">@Model.Author</span>
    </div>
    <div>

        @if (Model.isModified == true)
        {
            <span class="date sub-text">@Model.CreatedOn - Modified</span>
        }
        else
        {
            <span class="date sub-text">@Model.CreatedOn </span>
        }
    </div>
    <div class="commentText">
        <p id="comment-text-@Model.Id" class="comment-text-wrapper">@Model.Content</p>
        <textarea id="comment-text-input-@Model.Id" class="comment-text-wrapper" style="display : none">
        </textarea>
       
       @if (Model.Author == User.Identity.Name)
       {
        <div class="comment-button-container">
            <div class="comment-button-section" id="edit-button-section-@Model.Id">
                <span class="glyphicon glyphicon-pencil"></span>
                <a href="#/" id="edit-comment-button-@Model.Id" class="comment-button-action">
                    <span id="edit-comment-name-@Model.Id">Edit</span>
                </a>
            </div>
            <div class="comment-button-section" id="save-button-section-@Model.Id" style="display : none">
                <span class="glyphicon glyphicon-check"></span>
                <a href="#/" id="save-comment-button-@Model.Id" class="comment-button-action">
                    <span id="save-comment-name-@Model.Id">Save</span>
                </a>
            </div>
            <div class="comment-button-section" id="delete-button-section-@Model.Id">
                <span class="glyphicon glyphicon-remove"></span>
                <a href="#/" id="delete-comment-button-@Model.Id" class="comment-button-action">Delete</a>
            </div>
        </div>
       }
    </div>
    <hr />
</li>
<script src="~/Content/scripts/comment.module.js"></script>
<script>
    $(document).ready(function () {
        commentModule.configEditComments(@Model.Id);
    })
</script>