@model BlackWhale.Web.ViewModels.Review.ReviewIndexViewModel
<div class="container post format-standart">
    <div class="entry">
        <header class="entry-header">
            <h2>
                <a href="">Rethinking Mobile Tutorials</a>
            </h2>
            <div class="meta">
                <a href="" class="author">
                    <i class="fa fa-user"></i>@Model.Author
                </a>
                <small>
                    <i class="fa fa-calendar"></i>@Model.LastUpdated.ToString("dd MMM yyyy")
                </small>
                <a href="/Review/Details?id=@Model.Id">
                    @if (Model.CommentsCount == 0)
                    {
                        <i class="fa fa-comment"></i><span>No Comments</span>
                    }
                    else
                    {
                        <i class="fa fa-comment"></i><span>@Model.CommentsCount Comments</span>
                    }
                </a>
            </div>
        </header>
        <div class="entry-content">
            @Html.Raw(Model.Article)
            @Html.ActionLink("Read More", "Details", new { @id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<hr>
<script src="~/Content/scripts/comment.module.js"></script>
<script>
    $(document).ready(function () {
        commentModule.configReviewComments(@Model.Id);
    })
</script>