@model BlackWhale.Web.ViewModels.Review.ReviewIndexViewModel
@using BlackWhale.Commons.Constants;
<div class="container post format-standart">
    <div class="entry">
        <header class="entry-header">
            <h2>
                <a href="">@Model.Title</a>
            </h2>
            <div class="meta">
                <a href="" class="author">
                    <i class="fa fa-user"></i>@Model.Reviewer
                </a>
                <small>
                    <i class="fa fa-calendar"></i>@Model.LastUpdated.ToString("dd MMM yyyy : HH:ss")
                </small>
                <a href="/Review/Details?id=@Model.Id">
                    @if (Model.CommentsCount == 0)
                    {
                        <i class="fa fa-comment"></i><span>No Comments</span>
                    }
                    else
                    {
                        <i class="fa fa-comment"></i><span>@Model.CommentsCount Comments</span>
                    }
                </a>

                <small><i class="fa fa-folder"></i> @Model.Category</small>
                <small><i class="fa fa-folder"></i> @Model.Status</small>
            </div>
        </header>
        <div class="entry-content">
            <div>
                <img class="review-main-image" src="~/Content/Images/@Model.ImageUrl" />
               <div class="review-description-container">
                   <p class="review-description-text">@Model.Description</p>
               </div>

            </div>
           <div>
               @Html.ActionLink("Read More", "Details", new { @id = Model.Id }, new { @class = "btn btn-primary" })
               @if (User.IsInRole(GlobalConstants.ROLE_ADMINISTRATOR))
               {
                   @Html.ActionLink("Edit", "Edit", new { @id = Model.Id }, new { @class = "btn btn-primary" })
               }
           </div>
        </div>
    </div>
</div>
<hr>
<script src="~/Content/scripts/comment.module.js"></script>
<script>
    $(document).ready(function () {
        commentModule.configReviewComments(@Model.Id);
    })
</script>