@model BlackWhale.Web.ViewModels.Review.ReviewIndexViewModel
<div class="container post format-standart">
    <div class="entry">
        <header class="entry-header">
            <h2>
                <a href="">Rethinking Mobile Tutorials</a>
            </h2><div class="meta"><a href="" class="author"><i class="fa fa-user"></i>@Model.Author</a> <small><i class="fa fa-calendar"></i>@Model.LastUpdated</small> <a href=""><i class="fa fa-comment"></i>@Model.CommentsCount</a> <small><i class="fa fa-folder"></i> <a href="">@Model.Category</a></small></div>
        </header>
        <div class="entry-content">
            @Html.Raw(Model.Description)
            @Html.ActionLink("Read More", "/Review/Details", new { @id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<hr>
