<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Whale</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/mexico-theme/css/animate.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/flags.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/preloader.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/revolution.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-select.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/fontawesome-markers.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/plugins/paste/plugin.min.js"></script>
</head>
<body>
    <header class="header">
       
        @Html.Partial("_Navigation")
    </header>

    <div style="width : 200px; ">
        @Html.Partial("NotyNotifications")
    </div>
    <!-- / Render Templates-->
    @Html.Partial("~/Views/Shared/Templates/_ArticleTemplate.cshtml")
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        
    </div>

</body>
<footer class="footer footer-dark">
    <div class="footer-row">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="widget widget_about">
                        <h2 class="widget-title">About Mexico</h2>
                        <div class="widget-counts">
                            <div class="countup countup-vis" data-increment="130" data-num="3980" data-order-separator=","><span class="countup-amount">4,030</span>&nbsp;<span class="countup-sign"></span></div>
                            <span class="countup-info">Happy Clients</span>
                        </div>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="widget widget_twitter">
                        <h2 class="widget-title">Latest Tweets</h2>
                        <div id="tweet-feed"></div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="widget widget_links">
                        <h2 class="widget-title">Company</h2>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">Meet Our Team</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Mexico Partners</a></li>
                            <li><a href="">Plans and Pricing</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="widget widget_contact">
                        <h2 class="widget-title">Contact Us</h2>
                        <ul class="widget_contact_list">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <address><span>Address:</span> Le Meridien<br>21 Piccadilly, London<br>W1J 0BH, United Kingdom</address>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <address><span>Phone:</span> Office <a href="tel:+370212290">+370 212 290</a>,<br>Sales <a href="tel:+370212290">+370 212 290</a></address>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <address><span>Email:</span> <a href="mailto:info@sample.com"><strong>info@sample.com</strong></a></address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-extra">
        <div class="container">
            <nav class="contact-info pull-left"><a href="tel:+3706546340" class="phone"><i class="fa fa-phone"></i> +370 654 630 40</a> <a href="mailto:info@sample.com" class="email"><i class="fa fa-envelope-o"></i> info@sample.com</a></nav>
            <nav class="extra-menu pull-right"><a href=""><i class="fa fa-lock"></i>Account</a> <a href="">Wishlist</a> <a href="">Shopping Cart</a> <a href="">Logout</a></nav>
        </div>
    </div>
</footer>
</html>
