<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/mexico-theme/css/animate.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/flags.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/preloader.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/revolution.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/style.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/fontawesome-markers.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/plugins/paste/plugin.min.js"></script>
</head>
<body>
    <header class="header">
        <!-- NAVBAR -->
        <nav class="navbar container sf-js-enabled sf-arrows" style="touch-action: pan-y;">
            <!-- NAVBAR BRAND -->
            <a class="navbar-brand pull-left" href="">
                BlackWhale
            </a>
            <!-- NAVBAR COLLAPSE -->
            <div id="navbar" class="navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="active dropdown">
                        <a href="/" class="sf-with-ul">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="/Review" class="sf-with-ul">Reviews</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="sf-with-ul">Crypto 101</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="sf-with-ul">Crypto Trading</a>
                    </li>
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <li class="dropdown">
                            <a href="/Account/Login" class="sf-with-ul">Login</a>
                        </li>
                        <li class="dropdown">
                            <a href="/Account/Register" class="sf-with-ul">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="" class="sf-with-ul">@User.Identity.Name</a>
                        </li>
                        <li class="dropdown">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {@id= "logoutForm", @style= "position : absolute" }))
                            {
                                @Html.AntiForgeryToken()

                            }
                            <a class="sf-with-ul" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>

                         </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </nav>
        <!-- /.navbar -->

    </header>
    <div style="width : 200px; ">
        @Html.Partial("NotyNotifications")
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy;Black Whale Group 2017-2018. All rights reserved</p>
        </footer>
    </div>

</body>
</html>
