<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/mexico-theme/css/animate.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/flags.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/preloader.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/revolution.css" rel="stylesheet" />
    <link href="~/Content/mexico-theme/css/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/fontawesome-markers.min.js"></script>

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <header class="header">

        <!-- NAVBAR -->
        <nav class="navbar container sf-js-enabled sf-arrows" style="touch-action: pan-y;">
            <!-- NAVBAR BRAND -->
            <a class="navbar-brand pull-left" href="">
                BlackWhale
            </a>
            <!-- NAVBAR COLLAPSE -->
            <div id="navbar" class="navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="active dropdown">
                        <a href="" class="sf-with-ul" >Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="sf-with-ul">Reviews</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="sf-with-ul">Crypto 101</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="sf-with-ul">Crypto Trading</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </nav>
        <!-- /.navbar -->

    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;Black Whale Group 2017-2018. All rights reserved</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
